In [2]:
print ("Ola mundo!")

Ola mundo!

In [31]:
3+7

10

In [33]:
  #variaveis
  """"número inteiro, inteiro int não atribuído Não tem limite definido
  número de ponto flutuante real float não atribuído um único caractere 
  caractere str não atribuído Valores literais devem ter aspas duplas ou
  aspas simples. Exemplo: "F" ou 'F'
  texto caractere str não atribuído Valores literais devem ter aspas
  duplas ou aspas simples. Exemplo: "Maria" ou 'Maria'
  valor lógico logico boolean não atribuído Valores
possíveis: True, False""""
#tipo

SyntaxError: ignored

In [26]:
x = 5
y = 2
a = 5 + 2 # adicao
r = 5 - 2 # subtracao
z =  5 % 2 #mod ou rest da divisao
u = 5 / 2 # divisao 
j = 5 // 2 # divisao inteira
l =  5 * 2 # multiplicaçao
o = 5 ** 2 # cinco elevado quadrado

print(z , 
      l, o, u, j, r, a, )

1 10 25 2.5 2 3 7

In [11]:
# comentario
""" testando o comento
 bla bla 
 bla bla
"""
#voltar normal depois de 3 aspas.

' testando o comento\n bla bla \n bla bla\n'

In [17]:
#tipo numericos
Integer
test = 0b100
print("100 Binary: ", test)
test = 0o100
print("100 Octal: ", test)
test = 100
print("100 Decimal: ", test)
test = 0x100
print("100 Hexadecimal: ", test)

print(bin(test))
print(oct(test))
print(hex(test))

100 Binary:  4
100 Octal:  64
100 Decimal:  100
100 Hexadecimal:  256
0b100000000
0o400
0x100

In [9]:
myvar = 3 + 8
print(myvar)
print("Esta é minha variavel:", myvar)

11
Esta é minha variavel: 11

In [28]:
##tipo de dados 
idade: int 
salario: float
altura: float
genero: str
nome: str    

idade=38
salario=5800.5
altura=1.80
genero = "M"
nome = "Humberto"

print (f"idade = {idade}" )
print (f"salario = {salario:.2f}" )
print (f"altura = {altura:.2f}" )
print (f"genero = {genero}" )
print (f"nome = {nome}" )

idade = 38
salario = 5800.50
altura = 1.80
genero = M
nome = Humberto

In [ ]:
#< menor
#> maior
#<= menor ou igual
#>= maior ou igual
#== igual
#!= ou <> diferente 
#and e
#or ou
#not não